/*THIS CODE HAS BEEN WRITTEN BY ME: ACZW860*/
/*CSS STYLE [FOOTER]*/
/*=============================================================================*/
/*=============================================================================*/

.footerwrapper>nav>section>ul {
    list-style-type: none;

}

.footerwrapper>nav>section>ul>li>a {

    color: rgba(232, 215, 20, 1);
    text-decoration-line: none;
}

.footerwrapper>nav>section>h3 {

    margin-left: 2em;

}



/*=============================================================================*/
/*=============================================================================*/